.news {
	padding: 140px 0;
}
.news__heading {
	text-align: center;
}
.news__heading-descr {
	max-width: 610px;
	margin: 0 auto;
}
.news__inner {
	display: flex;
	margin: 0 -15px;
}
.news__item {
	flex: 0 1 33%;
	margin: 0 15px;
	background: var(--default-color);
	box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}
.news__item-top {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
	position: relative;
	padding-bottom: 82.8%;
}
.news__item-top img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.news__item-content {
	padding: 30px 15px 30px 30px;
}
.news__item-content h3 {
	margin: 0px 0px 10px 0px;
}
.news__item-descr {
	max-width: 300px;
	font-size: 16px;
	line-height: 160%;
	color: rgba(0, 0, 0, .7);
	margin: 0px 0px 20px 0px;
}
.news__item-link {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	color: var(--accent-color);
	padding: 0px 25px 0px 0px;

	background-repeat: no-repeat;
	background-image: url(./../../images/news/arrow.svg);
	background-size: 11px 11px;
	background-position: right 7% top 5px;
	transition: background-position .3s ease-in-out;
}
.news__item-link:hover {
	background-position: right top 5px;
}